Flask==2.3.2
frozenlist==1.3.3
google-api-core==2.11.1
google-auth==2.20.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
googleapis-common-protos==1.59.1
gspread==5.9.0
numpy==1.25.0
pandas==2.0.2
python-dateutil==2.8.2
python-dotenv==1.0.0
requests==2.31.0
requests-oauthlib==1.3.1
slack==0.0.2
slack-sdk==3.21.3
slackeventsapi==3.0.1
urllib3==1.26.16
dadjokes==1.3.2
better_profanity==1.0.4
apscheduler==3.10.1
randfacts==0.20.2